<div class="burger-box" (click)="handleMenuToggle()">
  <div class="burger-line"></div>
  <div class="burger-line"></div>
  <div class="burger-line"></div>
</div>

@if (menuOpen) {
<div class="menu-modal-background">
  <div class="menu-modal-container">
    <h1>Flag Quiz</h1>
    <h4>Select One or More Presets to Play.</h4>
    <div class="preset-option-list">
      @for (preset of presets; track preset) {
      <button
        class="preset-option"
        [ngClass]="{ 'active-preset': activePresets.get(preset) === true }"
        (click)="handlePresetSelect(preset)"
      >
        {{ preset }}
      </button>
      }
    </div>
  </div>
  <div class="start-container">
    <button class="start-button" (click)="startGame()">
      @if (gameInProgress) { Restart Game } @else { Start Game }
    </button>
  </div>
</div>
}
<div class="app-container">
  @if (gameInProgress) {
  <quiz-ui [selectedCountryCodes]="codes" [handleGameEnd]="endGame"></quiz-ui>
  }
</div>

<router-outlet />
